/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p,
li {
  line-height: 1.5em;
  margin: 0;
  font-size: 12px;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  width: 100%;
  padding: 2px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.item {
  padding: 10px;
  flex: 1;
}

/* ---  Groups & Items --- */

.group {
  flex-direction: row;
}

.item-double {
  display: flex;
  flex: 2;
  flex-direction: column;
}

.idea {
  flex-direction: column;
}

.host-group,
#host item {
  display: flex;
  flex-direction: column;
}

/* -------  Navigation ------- */

#menu {
  display: flex;
  padding: 10px;
  justify-content: center;
}

header {
  background-color: #ff385c;
  padding: 20px 20px 0 20px;
  text-align: center;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 72px;
  color: #fff;
}

header nav ul li {
  list-style-type: none;
  padding: 0px 5px 0px 5px;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Search Form ------- */
form {
  border: 2px solid #ff385c;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.form-container {
  padding: 20px;
}

label {
  font-weight: bold;
}

form select,
form input {
  margin: 10px;
  width: 180px;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

.form-group {
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  padding-left: 2px;
  padding-bottom: 5px;
}
/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */

@media all and (min-width: 480px) {
  /*--- Header ---*/

  header {
    display: flex;
    justify-content: space-between;
  }

  nav {
    padding-top: 10px;
  }

  #menu {
    line-height: 1.4;
    display: flex;
  }

  #menu li {
    margin-right: 10px;
  }

  .logo {
    font-size: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /*--- Form --- */

  form {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }

  .form-group {
    flex-direction: column;
    padding: 8px;
    font-size: 14px;
  }

  form select,
  form input {
    width: 100%;
    font-size: 10px;
    box-sizing: border-box;
  }

  input[type="date"] {
    width: 80px;
  }

  form button {
    font-size: 14px;
    padding: 5px;
    margin: 2px;
  }

  /*--- General ---*/

  .flex-container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .item-double {
    flex-direction: row;
    align-items: center;
  }

  .item-double img {
    width: 50%; /* Adjust the width as needed */
  }

  .image-container {
    text-align: center;
  }

  .image-container > img {
    width: 100%;
  }

  p,
  li {
    line-height: 1.3em;
    font-size: 14px;
  }

  #about .item-double {
    flex: 1;
  }
}

@media all and (min-width: 600px) {
  /*--- Form --- */

  .form-group {
    padding: 8px;
    font-size: 16px;
  }

  form select,
  form input {
    width: 100%;
    font-size: 14px;
    box-sizing: border-box;
  }

  input[type="date"] {
    width: 100%;
  }

  form button {
    font-size: 15px;
    padding: 6px;
    margin: 2px;
  }

  input[type="date"] {
    width: 100%;
  }
}
